[data-ng-cloak] {
    display: none !important;
}

body,
.navbar,
.navbar-header:before {
    background-color: white;
}

.panel {
    border-radius: 5%;
}

[id]:before {
    display: block;
    content: " ";
    height: 55px;
    visibility: hidden;
}

.navbar {
    border-bottom-color: red;
}

.navbar-brand,
.navbar-brand {
    width: auto;
}