<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <!--MODIFY THE BASE IF NECESSARY-->
    <base href="/ui/menu/">


    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="css/nifty.min.css" rel="stylesheet">
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>

</head>

<body data-ng-app="MainModule" class="nifty-ready pace-done">


    <div data-ng-controller="MenuController as MenuCtrlr" data-ng-show="MenuCtrlr.visible" data-ng-cloak>
        <div data-ng-controller="OrderController as OrdrCtrlr">


            <div class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><span><img class="img-responsive" src="logo/logo.jpg"></span></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" data-ng-click="MenuCtrlr.scrollTo('orders')"><strong>MENU</strong> </a>
                        </li>

                        <li class="active"><a href="#orders" data-ng-click="MenuCtrlr.scrollTo('orders')"><strong>ORDERS </strong> <span  class="badge ">{{OrdrCtrlr.order.getItemCount()}}</span></a>
                        </li>

                    </ul>
                </div>

            </div>


            <div class="container-fluid">

                <div class="row pad-hor">
                    <div id="panel-{{$index}}" data-ng-click="MenuCtrlr.scrollTo('listing-'+$index)" class="col-sm-3" data-ng-repeat="category in MenuCtrlr.menu ">
                        <div data-ng-init="randomColor=MenuCtrlr.getRandomColor()">
                            <div class="panel panel-{{randomColor}} panel-colorful">
                                <div class="panel-body text-center">
                                    <p class="text-uppercase text-thin mar-btm text-sm">Available</p>
                                    <i class="fa fa-{{MenuCtrlr.getIcon($index)}} fa-5x"></i>
                                    <hr>
                                    <p class="h4 text-semibold">{{category.name||"Category : "+$index}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-repeat="category in MenuCtrlr.menu ">
                    <div class="col-md-12 text-center">

                        <div id="listing-{{$index}}" data-ng-click="MenuCtrlr.scrollTo('panel-'+$index)">
                            <hr class="divider">
                            <p class="h3 text-thin text-warning">{{category.name||"Category : "+$index}}</p>
                            <hr class="divider">
                        </div>
                        <div class="row">
                            <div class="col-md-12" data-ng-repeat="subcategory in category.subcategories ">
                                <div class="row">


                                    <div class="col-sm-6 pad-all" data-ng-repeat="item in subcategory.items ">
                                        <div data-ng-controller="ModalController as Ms">
                                            <div data-ng-class="OrdrCtrlr.order.inTrackerIds(item.trackerId)" data-ng-click="OrdrCtrlr.order.addItem(item);Ms.open()">
                                                <span class="h4 text-normal text-left">{{item.name}}</span>
                                                <span class="h5 text-normal text-right">{{item.size||""}}</span>
                                                <span class="h5 text-normal text-right">{{item.price}}</span>
                                            </div>
                                        </div>
                                        <div class="btn btn-danger" data-ng-click="OrdrCtrlr.order.removeItem(item)" data-ng-show="OrdrCtrlr.order.inTrackerIds(item.trackerId,true)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="orders" class="row">
                    <div class="col-md-12 ">
                        <hr class="divider">
                        <div class="h2 col-md-12 text-center text-semibold">
                            <!--class=" text-thin text-warning">-->
                            Order

                        </div>
                        <hr class="divider">

                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th colspan="2">
                                                <span class="btn btn-danger" data-ng-click="OrdrCtrlr.order.cancelOrder()">Cancel Order
                                        </span>
                                            </th>
                                            <th>Total</th>
                                            <th>{{OrdrCtrlr.order.total}}</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr data-ng-repeat="item in OrdrCtrlr.order.items">
                                            <td class="text-semibold" colspan="2">
                                                {{item.name}}<span data-ng-hide="{{item.size ===undefined }}"> - {{item.size}}</span>
                                            </td>
                                            <td>
                                                <input type="number" min="1" data-ng-model="OrdrCtrlr.order.quantities[$index]" placeholder="quantity" data-ng-change="OrdrCtrlr.order.updateTotal()">
                                            </td>
                                            <td class="text-semibold">
                                                {{item.price * OrdrCtrlr.order.quantities[$index] }}
                                            </td>


                                            <td>
                                                <span class="btn btn-warning" data-ng-click="OrdrCtrlr.order.removeItem(item)">Remove</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>




                        <div>
                            <pre style="visibility:hidden">     
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                    </pre>
                        </div>


                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <script type="text/ng-template" id="myModalContent.html">

                    <div data-ng-controller="OrderController as OrderCtrlr">
                        <div class="modal-header">
                            <h3>{{OrderCtrlr.order.currentItem.name}}</h3>
                        </div>
                        <div class="modal-body">
                            <input type="number" min="1" data-ng-model="OrderCtrlr.order.quantitiesCopy[OrderCtrlr.order.getCurrentItemIndex()]" placeholder="quantity ">

                        </div>
                        <div class="modal-footer ">
                            <button class="btn btn-primary " ng-click="$close() ">OK</button>
                            <button class="btn btn-warning " ng-click="$dismiss() ">Cancel</button>
                        </div>
                    </div>

                </script>

            </div>


        </div>
    </div>



    <script src="js/angular.min.js "></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js "></script>

    <script src="js/angular/modules/MainModule.js"></script>
    <script src="js/angular/services/MenuService.js"></script>
    <script src="js/angular/services/OrderService.js"></script>
    <script src="js/angular/controllers/MenuController.js"></script>
    <script src="js/angular/controllers/OrderController.js"></script>
    <script src="js/angular/controllers/ModalController.js"></script>

    <script src="js/jquery-1.11.2.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/nifty.min.js "></script>
    <script src="js/demo/nifty-demo.min.js "></script>
    <script src="js/demo/widgets.js "></script>

</body>

</html>